<br />
<br />
<h2>{{Titulo}}</h2>
<ul>
    @for (Solicitud of gSolicitudes(); track Solicitud.solicitudesId) {
    <li>
      {{ Solicitud.solicitudesId }}
      <button (click)="borrarSolicitud(Solicitud.solicitudesId)">
        Borra Solicitud: {{ Solicitud.solicitudesId }}
      </button>
      <br>
      <label>Descripcion: </label>
      <input type="text" 
      [value]="Solicitud.descripcionDeSolicitid" size="100%">
      <br>
      <label>Fecha: </label>
      <input type="datetime" 
      [value]="Solicitud.fechaSolicitud">
      <br>
      <label>Servicio: </label>
      <input type="text" 
      [value]="Solicitud.IdDelservicio">
      <br>
      <label>Solicitante: </label>
      <input type="number" 
      [value]="Solicitud.IdDelsolicitante">
      <br>
      <button (click)="buscar(Solicitud.solicitudesId)">Editar</button>
      <br>
      <button (click)="SolicitudesReporte()">Reporte</button>
    </li>
    <li>
      <hr width="100%" color="black" size="2">
    </li>
    } @empty {
    <li>Nada que mostrar.</li>
    }
    <li>
    </li>
    <li>
      <label for="solicitudesId">ID: </label>
      <input id="solicitudesId" [(ngModel)]="solicitudesId" type="number" readonly />
    </li>
    <li>
      <label for="descripcionDeSolicitid">Descripcion de Solicitud: </label>
      <input id="descripcionDeSolicitid" [(ngModel)]="descripcionDeSolicitid" type="text" />
    </li>
      <li>
        <label for="fechaSolicitud">Fecha: </label>
        <input id="fechaSolicitud" [(ngModel)]="fechaSolicitud" type="datetime" />
      </li>
      <li>
        <label for="IdDelservicio">Servicio: </label>
        <input id="IdDelservicio" [(ngModel)]="IdDelservicio" type="number" />
      </li>
      <li>
        <label for="IdDelsolicitante">Solicitante: </label>
        <input id="IdDelsolicitante" [(ngModel)]="IdDelsolicitante" type="number" />
      </li>
      <button (click)="agregarSolicitud($event)">
        Agregar Solicitud
      </button>
      <button (click)="modificar2(solicitudesId,$event)">
        Editar 
      </button>
      <br>
    <br />
    <button (click)="printInputs()">Imprimir en Consola</button>
  </ul>
<pre>
    <code>
        {{gSolicitudes() | json}}
    </code>
</pre>