<br />
<br />
<h2>{{ Titulo }}</h2>
<ul>
  @for (Usuario of Usuarios(); track Usuario.usuariosID) {
  <li>
    {{ Usuario.usuariosID }}
    <input
      type="text"
      (keydown.enter)="modificarUsuario(Usuario.usuariosID, $event)"
      [value]="Usuario.nombreDelUsuario"
    />
    <button (click)="borrarUsuario(Usuario.usuariosID)">
      Borra Usuario: {{ Usuario.nombreDelUsuario }}
    </button>
  </li>
  } @empty {
  <li>Nada que mostrar.</li>
  }
  <li>
    <input
      placeholder="Agregar"
      type="text"
      (keydown.enter)="agregarUsuario($event)"
    />
  </li>
  <li>
    <label for="nombreUsuario">Nombre del Usuario: </label>
    <input id="nombreUsuario" [(ngModel)]="xNombreUsuario" type="text" />
  </li>
  <li>
    <label for="claveUsuario">Clave del Usuario: </label>
    <input id="claveUsuario" [(ngModel)]="xClaveUsuario" type="text" />
  </li>
  <li>
    <label for="usuariosID">Clave del Usuario: </label>
    <input id="usuariosID" [(ngModel)]="xClaveUsuario" type="number" />
  </li>
  <br />
  <button (click)="printInputs()">Imprimir en Consola</button>
</ul>
<pre>
    <code>
        {{Usuarios() | json}}
    </code>
</pre>
