<br />
<br />
<h2>{{ Titulo }}</h2>
<ul>
  @for (Usuario of Usuarios(); track Usuario.usuariosID) {
  <li>
    {{ Usuario.usuariosID }}
    <input
      type="text"
      (keydown.enter)="modificarUsuario(Usuario.usuariosID, $event)"
      [value]="Usuario.nombreDelUsuario"
    />
    <button (click)="borrarUsuario(Usuario.usuariosID)">
      Borra Usuario: {{ Usuario.nombreDelUsuario }}
    </button>
  </li>
  <li>
    <input type = "text" [value]="Usuario.claveDelUsuario">
  </li>
  <li>
    <hr width="100%" color="black" size="2">
  </li>
  } @empty {
  <li>Nada que mostrar.</li>
  }
  <li>
    <button ((click))="agregarUsuario($event)">
      Agregar Usuario
    </button>
  <li>
    <label for="nombreDelUsuario">Nombre del Usuario: </label>
    <input id="nombreDelUsuario" [(ngModel)]="xNombreUsuario" type="text" />
  </li>
  <li>
    <label for="claveUsuario">Clave del Usuario: </label>
    <input id="claveUsuario" [(ngModel)]="xClaveUsuario" type="text" />
  </li>
  <br />
  <button (click)="printInputs()">Imprimir en Consola</button>
</ul>
<pre>
    <code>
        {{Usuarios() | json}}
    </code>
</pre>
